In [2]:
import sqlite3
import os

In [12]:
# Use absolute path for the database
# current_dir = os.path.dirname(os.path.abspath('__file__'))
db_path = os.path.join("..", "sql", "openfda_base.db")
print(f"Attempting to connect to database at: {db_path}")
db_path = "../sql/openfda_base.db"
# Make sure the directory exists
os.makedirs(os.path.dirname(db_path), exist_ok=True)

# Connect to the database
conn = sqlite3.connect(db_path)
cursor = conn.cursor()
cursor.execute("SELECT COUNT(*) FROM report")
print("Rows in report table:", cursor.fetchone()[0])

Attempting to connect to database at: ..\sql\openfda_base.db
Rows in report table: 0

In [3]:

import pandas as pd

conn = sqlite3.connect("../sql/openfda_base.db")

tables = [
    "report", "reaction", "reportduplicate", "patient_optional", "summary",
    "drug", "drug_openfda", "drug_optional", "drug_activesubstance"
]

counts = []
for table in tables:
    try:
        count = conn.execute(f"SELECT COUNT(*) FROM {table}").fetchone()[0]
        counts.append((table, count))
    except Exception as e:
        counts.append((table, f"Error: {e}"))

conn.close()

pd.DataFrame(counts, columns=["Table", "Row Count"])

                  Table  Row Count
0                report      36000
1              reaction     126049
2       reportduplicate      26353
3      patient_optional      36000
4               summary      16948
5                  drug     188847
6          drug_openfda     188847
7         drug_optional     188847
8  drug_activesubstance          0

In [4]:
conn = sqlite3.connect("../sql/openfda_base.db")

tables = [
    "report", "reaction", "reportduplicate", "patient_optional", "summary",
    "drug", "drug_openfda", "drug_optional", "drug_activesubstance"
]

counts = []
for table in tables:
    try:
        count = conn.execute(f"SELECT COUNT(*) FROM {table}").fetchone()[0]
        counts.append((table, count))
    except Exception as e:
        counts.append((table, f"Error: {e}"))

conn.close()

pd.DataFrame(counts, columns=["Table", "Row Count"])

                  Table  Row Count
0                report      36000
1              reaction     126049
2       reportduplicate      26353
3      patient_optional      36000
4               summary      16948
5                  drug     188847
6          drug_openfda     188847
7         drug_optional     188847
8  drug_activesubstance          0